env1
.env
v1
.v1
/Backend/__pycache__
/Backend/migrations
/HandymanHive/__pycache__
/HandymanHive/routes/__pycache__
/HandymanHive/migrations
/HandymanHive/routes/__pycache__
/tests/__pycache__
/tests/Test_Models/__pycache__
/tests/Test_user_auth/__pycache__
/tests/Test_profile/__pycache__
/tests/Test_recommendations/__pycache__
/tests/Test_search/__pycache__
/tests/Test_worker_history/__pycache__
/cookies_snapshot
/.coverage
